@import "styles/spacing.module.css";

.repos {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputs {
  display: flex;
  align-items: center;
  margin-top: var(--sm);
  margin-bottom: var(--lg);

  .searchInput {
    display: flex;
    justify-content: space-between;
    margin-right: var(--sm);

    input {
      min-width: 160px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: var(--xxs);
      margin-right: calc(var(--xs) * -1);
      background-color: transparent;
      border: none;
      padding: none;

      img {
        height: 100%;
      }
    }
  }

  .filters {
    display: flex !important; /* something in build process drops this rule without !important. worth further investigating. */
    align-items: center;
    border-left: 2px solid var(--darkest-color);
    width: 100%;
  }

  .filtersLabel {
    margin: 0 var(--sm);
    margin-right: var(--xxs);
    display: inline-block;
    font-weight: bold;
  }

  input {
    margin: 0;
  }
}

.table {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
