@import "styles/spacing.module.css";
@import "styles/colors.module.css";
@import "styles/layout.module.css";

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
}

.main {
  padding: var(--sm);
  background-color: var(--bg-color);
  width: 100vw;
  height: calc(100vh - var(--HEADER-HEIGHT));
}
